@import "color.css";

body {
    margin: 0;
}

a {
    color: var(--main-link);
    text-decoration: none;
}

button {
    cursor: pointer;
}

.tab {
    max-width: 1280px;
    padding-top: 120px;
    margin: 0 auto 16px auto;
    display: flex;
    list-style: none;
}

.tab > li {
    margin-right: 30px;
    cursor: pointer;
    line-height: 20px;
    padding-bottom: 5px;
}

.tab > li.selected {
    border-bottom: 2px solid #000;
}

.search {
    max-width: 1250px;
    margin: 10px auto;
    display: flex;
    border: 1px solid var(--main-border);
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.search-input {
    display: inline-flex;
    flex-direction: column;
    padding: 17px 15px;
}

.search-large {
    flex: 2;
}

.search-medium {
    position: relative;
    box-sizing: border-box;
    flex: 1.3;
    cursor: pointer;
}

.search-medium:hover {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

.search-small {
    flex: 0.9;
    display: flex;
    justify-content: center;
}

.label,
.search-input > label {
    font-size: 11px;
    line-height: 12px;
    font-weight: 600;
    letter-spacing: 0.04em;
    margin-bottom: 6px;
}

.search-input > input {
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
}

.input-div,
.search-input > input::placeholder {
    color: #777;
    font-size: 14px;
}

.search-button { 
    width: 100px;
    /* background-image: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ); */
    background-color: var(--main-red);
    border: none;
    outline: none;
    color: #FFF;
    line-height: 20px;
    border-radius: 15px;
    margin: 10px 10px 10px 0;
}

.day-picker {
    cursor: default;
    position: absolute;
    top: 100px;
    display: flex;
    border: 1px solid var(--main-border);
    background-color: #FFF;
    border-radius: 10px;
    /* padding: 20px; */
    justify-content: space-between;
}

.day-picker .month {
    margin: 20px;
}

.month caption {
    font-weight: 600;
    color: var(--main-black);
    margin: 20px;
}

.month th, .month td {
    text-align: center;
}

.month td .day:hover{
    border: 1px solid var(--main-black);
    border-radius: 100%;
}

.month td {
    width: 30px;
    height: 30px;
    padding: 13px 14px;
    font-size: 14px;
    color: var(--main-black);
    font-weight: 600;
}

.day-picker .attribute {
    font-size: 12px;
    color: var(--main-gray);
}

.banner {
    max-width: 1250px;
    padding: 30px;
    margin: 0 auto;
}

.banner-main {
    background: linear-gradient(35deg, #e66465, #9198e5);
    box-sizing: border-box;
    margin-top: 90px;
    height: 400px;
    padding: 60px;
    border-radius: 20px;
    color: #FFF;
}

.banner-main > h1 {
    font-size: 32px;
    margin: 0;
}

.banner-main > p {
    margin: 10px 0 20px 0;
    font-size: 18px;
}

.banner-main > a {
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
}

.banner.sub-section {
    display: flex;
    justify-content: space-between;
}

.banner-sub {
    border-radius: 15px;
    box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.08), -1px -1px 1px rgba(0, 0, 0, 0.06);
    width: 32%;
    color: #222;
    margin: 20px 0 40px 0;
    cursor: pointer;
}

.banner-sub > img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.banner-sub > .banner-text {
    margin : 15px 15px 40px 15px;
}

.banner-text > .banner-title {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.banner-text > .banner-desc {
    font-size: 14px;
    color: var(--main-gray);
}

#footer {
    background-color: #F7F7F7;
    padding: 40px 0;
}

#footer > .information {
    display: flex;
    color: var(--main-black);
    justify-content: space-around;
}

.information > ul {
    font-size: 12px;
    font-weight: 800;
    list-style: none;
    padding: 0;
}

.information > ul > li {
    font-size: 14px;
    margin-top: 16px;
    font-weight: normal;
}