.close-button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 25px;
    left: 20px;
    cursor: pointer;
}

a {
    color: #008489;
    text-decoration: none;
}

button {
    cursor: pointer;
}

#register-modal,
#login-modal {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
}

.error {
    color: #D11;
    font-size: 14px;
}

.wrong-input {
    border: 1px solid rgba(240, 53, 53, 0.8) !important;
}

.nav {
    position: fixed;
    box-sizing: border-box;
    display: flex;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
    z-index: 10;
    background-color: #FFF;
}

.nav-logo > img {
    width: 118px;
    height: 64px;
    color: #FF385C;
}

.nav > .user {
    display: flex;
    align-items: center;
    padding: 5px 3px 5px 10px;
    border: 1px solid #DDD;
    border-radius: 21px;
    cursor: pointer;
}

.nav > .user > img {
    margin: 0 6px;
}

.nav > .language > img {
    margin: 0 3px;
}

.nav > .language {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
}

#user-menu {
    position: absolute;
    width: 190px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 5px -5px 10px 3px rgba(0, 0, 0, 0.1), -3px 3px 5px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 10px 0;
    min-height: 200px;
    overflow-y: scroll;
    right: 80px;
    top: 90px;
    color: #222;
}

#user-menu > #menu-tgl {
    display: flex;
    flex-direction: column;
}

#menu-tgl > .menu {
    padding: 15px 20px;
    cursor: pointer;
}

#menu-tgl > .menu:hover {
    background-color: rgb(200, 200, 200, 0.3);
}
