#register {
    max-width: 700px;
    margin: 10px auto;
    text-align: center;
    color: #222;
    font-size: 15px;
}

.social-login {
    margin: 20px auto;
    font-size: 14px;
    color: rgb(72, 72, 72);
    font-weight: 600;
}