block append styles
  link(rel='stylesheet', href='/css/book.css')

mixin book()
    div#book-modal(style='visibility: hidden;')
        div#book
            img#book-close(src="/static/x-icon.svg", alt="close button")
            span.price 
                span#book-price.price-num
                span /박
            div.review
                img(src="/static/star.svg", alt="score-star")
                span#book-score
                span#book-review.review-count
            span.label 날짜
            div.date.condition
                span#date-checkin
                span →
                span#date-checkout
            span.label 인원
            div.guest.condition
                span#book-guest 게스트 #{guest}명
            section.cost
                div.calculation.desc
                    div.cost-left#cost-calc ₩99,692 x 14박
                    div.cost-right#cost-multiplied ₩1,395,682
                div.cleaning.desc
                    div.cost-left 청소비
                    div.cost-right#cost-cleaning ₩34,208
                div.service.desc
                    div.cost-left 서비스 수수료
                    div.cost-right#cost-service ₩1,395,682
                div.fee.desc
                    div.cost-left 숙박세와 수수료
                    div.cost-right#cost-fee ₩1,395,682
                div.total-cost.desc
                    b.cost-left 합계
                    div.cost-right#cost-total ₩1,693,811
            div#book-button 예약하기
            p.notice 예약 확정 전에는 요금이 청구되지 않습니다.
    block append script
        script(type='module' src='/js/book.js')
    