
html
    head
        title='Airbnb'
        link(rel='stylesheet', href='/css/index.css')
    body
        include navbar.pug
        include dayPicker.pug
        include guest.pug
        +navBar(isLoggedIn, isFailed, isDuplicated)  
        ariticle.reservation
            ul.tab
                li.selected 숙소
                li 체험
                li 온라인 체험
            form(action="/search").search
                div.search-input.search-large
                    label(for="location") 위치
                    input(id="location" type="text" name="location" placeholder="어디로 여행가세요?")
                div.search-input.search-medium
                    div#checkin.calendar.left-border
                        div.label 체크인
                        div#checkin-input.input-div 날짜 추가
                    div#checkout.calendar.left-border
                        div.label 체크아웃
                        div#checkout-input.input-div 날짜 추가
                    +dayPicker(9)
                div.search-input.search-small.left-border
                    div#guest
                        div.label 인원
                        div#guest-input.input-div 게스트 추가
                    +guest(0,0,0)
                button#search-button 검색
        section.banner.banner-main
            h1 가까운 곳에서 즐기는<br>색다른 여행
            p 가까운 곳의 숨겨진 아름다움을 발견하는 색다른 <br> 휴가를 즐겨보세요.
            a 가까운 여행지 둘러보기 >
        article.banner.sub-section
            section.banner-sub
                img(src="https://a0.muscache.com/im/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg?im_w=720", alt="banner-image")
                div.banner-text
                    p.banner-title 온라인 체험
                    span.banner-desc 세계 각지의 호스트가 진행하고 모두 함께 즐기는 독특한 액티비티
            section.banner-sub
                img(src="https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=720", alt="banner-image")
                div.banner-text
                    p.banner-title 독특한 공간
                    span.banner-desc 단순한 숙소 이상의 특별함이 담긴 공간
            section.banner-sub
                img(src="https://a0.muscache.com/im/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg?im_w=720", alt="banner-image")
                div.banner-text
                    p.banner-title 집 전체
                    span.banner-desc 일행만을 위한 편안한 공간에서 친구 및 가족과 오붓한 시간을 보내세요.
        article.banner.sub-section-2
            div.text
                h1 브로드웨이 온라인 체험
                span 슬기로운 집콕 생활을 위한 색다른 방법 - 실시간으로 진행되는 인터랙티브<br>브로드웨이 공연에 참여하고 출연진과 대화를 나눠보세요.
            section.banner-image
                section.card.left
                    img(src="https://a0.muscache.com/im/pictures/38aeacb5-7e77-4bf6-a813-754605020922.jpg?im_w=1680", alt="")
                    p 라스베이거스 댄서의 하루
                section.right
                    div.top
                        div.card
                            img(src="https://a0.muscache.com/im/pictures/e77da774-9e72-46d6-a7fd-7d159f823046.jpg?im_w=720", alt="")
                            p 아이샤 잭슨과 함께하는 사랑, 빛 치유의 저녁
                        div.card
                            img(src="https://a0.muscache.com/im/pictures/7f607dbc-c51c-482e-8b67-55ded3e7f864.jpg?im_w=720", alt="")
                            p 아이샤 잭슨과 함께하는 사랑, 빛 치유의 저녁
                    div.bottom
                        div.card
                            img(src="https://a0.muscache.com/im/pictures/d88db0e7-ef5b-49c6-ae07-af3525ac252f.jpg?im_w=1680", alt="")
                            p 라이브 뮤지컬 참여하기
        block Footer
            include footer.pug
    block script
        script(type='module' src='/js/search.js')
    block script
        script(src='/js/calendar.js')
    block script
        script(type='module' src='/js/guest.js')