block append styles
  link(rel='stylesheet', href='/css/navbar.css')
include login.pug
include register.pug 

mixin navBar(isLoggedIn, isFailed, isDuplicated)
    nav.nav#navbar
        a.nav-logo(href="/")
            img(src="/static/logo2.svg", alt="logo")
        div.language
            img(src="/static/globe.svg", alt="globe-icon", style="width:16px; height:16px;")
            img(src="/static/bottom.svg", alt="bottom-icon", style="width:17px; height:17px;")
        div#hamburger.user
            img(src="/static/hamburger.svg", alt="hamburger-icon", style="width:16px; height:16px;")
            img(src="/static/user.svg", alt="user-icon", style="width:30px; height:30px;")
        div#user-menu(style="visibility: hidden")
            div#menu-tgl
                if !isLoggedIn
                    section#register-open.menu 회원가입
                    section#login-open.menu 로그인
                else
                    section.menu
                        a#logout(href="/logout") 로그아웃
                div.line
                section.menu 숙소 호스팅되기
                section.menu 체험 호스팅하기
                section.menu 도움말
    +login(isFailed)
    +register(isDuplicated)
