
html
    head
        title='Airbnb'
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/register.css')
    body
        article#register
            h3.title 회원 가입
            section.social-login
                p 
                    a 페이스북 또는 구글로 가입하세요
            form(action="")
                input(type="email" placeholder="이메일 주소")
                input(type="text" placeholder="이름(예 : 길동)")
                input(type="text" placeholder="성(예 : 홍)")
                input(type="password" placeholder="비밀번호 설정하기")
                label(for="") 생일
                p 만 18세
                select(name="month")
                select(name="day")
                select(name="yaer")
                p 에어비앤비 어쩌구
                input(type="radio")
                span 에어비앤비에서 어쩌구 받고 싶지
                button(type="submit") 가입하기
            p 이미 에어비앤비 계정이 있나요?
        block Footer
            include common/footer.pug
        
