
html
    head
        title='Airbnb'
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/register.css')
    body
        article#register
            h3.title 회원 가입
            section.social-login
                p 
                    a 페이스북 또는 구글로 가입하세요
            form#register-form(action="")
                input.register-input(type="email" placeholder="이메일 주소")
                input.register-input(type="text" placeholder="이름(예 : 길동)")
                input.register-input(type="text" placeholder="성(예 : 홍)")
                input.register-input(type="password" placeholder="비밀번호 설정하기")
                label.birthday(for="") 생일
                p.privacy 만 18세 이상의 성인만 회원으로 가입할 수 있습니다. 생일은 다른 에어비앤비 이용자에게 공개되지 않습니다.
                select(name="month")
                select(name="day")
                select(name="yaer")
                p.information 
                    | 에어비앤비의 회원 전용 할인, 추천 여행 정보, 프로모션 및 정책 변경사항을 이메일로 보내드립니다. 
                    | 계정 관리의 환경설정 또는 프로모션 알림에서 언제든지 메시지 수신을 거부할 수 있습니다.
                div.marketing
                    input(type="checkbox")
                    span 에어비앤비에서 보내는 마케팅 메시지를 받고 싶지 않습니다.
                button.register-button(type="submit") 가입하기
            p.login 이미 에어비앤비 계정이 있나요?&nbsp;
                a(href="/users/login") 로그인
