block append styles
  link(rel='stylesheet', href='/css/register.css')

mixin register(isDuplicated, error)
    div#register-modal(style="visibility: hidden" isDuplicated=isDuplicated)
        article#register
            a(href="/")
                img.close-button(src="/static/x-icon.svg")
            h3.title 회원 가입
            section.social-login
                p 
                    a 페이스북 
                    span 또는 
                    a 구글
                    span 로 가입하세요
            form#register-form(action="/users/register" method="POST")
                input.register-input.wrong-input(type="email" placeholder="이메일 주소" autocomplete="off" name="email")
                input.register-input.wrong-input(type="text" placeholder="이름(예 : 길동)" autocomplete="off" name="name")
                input.register-input.wrong-input(type="text" placeholder="성(예 : 홍)" autocomplete="off" name="lastName")
                input.register-input.wrong-input(type="password" placeholder="비밀번호 설정하기" autocomplete="off" name="password")
                p.birthday 생일
                p.privacy 만 18세 이상의 성인만 회원으로 가입할 수 있습니다. 생일은 다른 에어비앤비 이용자에게 공개되지 않습니다.
                div.select-tags
                    select.register-select(name="month" style="flex:2" )
                    select.register-select(name="day" style="flex:1;margin:0 20px;")
                    select.register-select(name="year" style="flex:1.5")
                p.information 
                    | 에어비앤비의 회원 전용 할인, 추천 여행 정보, 프로모션 및 정책 변경사항을 이메일로 보내드립니다. 
                    | 계정 관리의 환경설정 또는 프로모션 알림에서 언제든지 메시지 수신을 거부할 수 있습니다.
                div.marketing
                    input(type="checkbox" name="marketing")
                    span 에어비앤비에서 보내는 마케팅 메시지를 받고 싶지 않습니다.
                if isDuplicated
                    p.error 이미 가입된 이메일입니다. 다시 확인해주세요.
                if error
                    p.error 회원가입을 처리하는 중에 오류가 발생했습니다. 다시 시도해주세요.
                button#register-button(type="submit" disabled) 가입하기
            p.login 이미 에어비앤비 계정이 있나요?&nbsp;
                a(href="/users/login") 로그인

    block append script
        script(type="module" src='/js/register.js')