
html
    head
        title='Airbnb : 검색 결과'
        link(rel='stylesheet', href='/css/search.css')
    body
        //- include searchHeader.pug
        //- +header('title')
        div.top
            h2 #{length}개의 #{location}의 숙소
        article#items
            include searchItem.pug
            - for (let item of data)
                - const {title, description1, description2, price, image} = item
                +searchItem(title, description1, description2, price, image)  
    