
html
    head
        title='Airbnb : 검색 결과'
        link(rel='stylesheet', href='/css/search.css')
    body
        //- include searchHeader.pug
        //- +header('title')
        div.top
            h2 종로구의 숙소
        include searchItem.pug
        +searchItem('title')  
    