html
    head
        title='Airbnb'
        link(rel='stylesheet', href='../css/index.css')
    body
        footer#footer
                section.information
                    ul 소개
                        li 에어비앤비 이용 방법
                        li 뉴스룸
                        li 에어비앤비 플러스
                        li
                    ul 커뮤니티
                        li 다양성 및 소속감
                        li 접근성
                        li 에어비앤비 어소시에이트
                        li 구호 인력을 위한 숙소
                    ul 호스팅하기
                        li 숙소 호스팅하기
                    ul 에어비앤비 지원
                        li 코로나19 관련 업데이트
                section.company