html
    head
        title='Airbnb'
        link(rel='stylesheet', href='../css/index.css')
    body
        nav.nav
            div.nav-logo
                img(src="/static/logo2.svg", alt="logo")
            div.language
            div.user