html
    head
        title='Airbnb'
        script(src='/js/main.js')
        link(rel='stylesheet', href='../css/index.css')
    body
        nav.nav#navbar
            div.nav-logo
                img(src="/static/logo2.svg", alt="logo")
            div.language
                img(src="/static/globe.svg", alt="globe-icon", style="width:16px; height:16px;")
                img(src="/static/bottom.svg", alt="bottom-icon", style="width:17px; height:17px;")
            div.user(onclick="onClickHamburger(event)")
                img(src="/static/hamburger.svg", alt="hamburger-icon", style="width:16px; height:16px;")
                img(src="/static/user.svg", alt="user-icon", style="width:30px; height:30px;")